<!-- songs/index.handlebars -->
<!-- Representation of list of every song in our database -->


<section>
    <h2>Songs</h2>
    {{#each songs}}
    <article class="song-list">
        <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX single.handlebars TOO -->
        <div class="song">
            <!-- Make this a link that redirects to single song page -->
            <h3 class="song-title" onclick="location.href='/songs/{{_id}}'">{{title}} uploaded by {{author}}</h3> <!-- how to get author name -->
            <ul class="song-info">
                {{!-- <li>Id: {{_id}}</li> --}}
                {{!-- {{!-- <li>File: {{file}}</li> --}} 
                <li>Genres: {{genre}}</li>
                <li>Likes: {{like_cnt}}</li>
                <li>Dislikes: {{dislike_cnt}}</li>
            </ul>
            {{!-- <p>{{../user}}</p> --}}
            {{#if ../user}}
            {{!-- <p>you are entered as users</p> --}}
            <i  onclick="location.href='./songs/like/{{_id}}'" class="fa fa-thumbs-up"></i>
            <i  onclick="location.href='./songs/dislike/{{_id}}'" class="fa fa-thumbs-o-down"></i>
            {{else}}
            <i onclick="location.href='./login'" class="fa fa-thumbs-up" id="like_songs"></i>
            <i onclick="location.href='./login'" class="fa fa-thumbs-o-down" id="dislike_songs"></i>
            {{/if}}

            <a href= "/songs/{{_id}}""> Play </a>
            
            <button type="button" id="comment-button" onclick="location.href='./comments/new/{{_id}}'">Add a Comment</button>
        </div>
    </article>
    {{/each}}
</section>