<!-- songs/single.handlebars -->
<!-- Representation of a single song -->

<article class="song">
    <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX index.handlebars TOO -->
    <h2>Title: {{song.title}}</h2>
    <p>_id: {{song._id}}, author: {{song.author}}, genre: {{song.genre}}, like_cnt: {{song.like_cnt}}, dislike_cnt: {{song.dislike_cnt}}, comment_id: {{song.comment_id}}</p>
    <p>File: {{song.file}}</p>
</article>