<!-- songs/single.handlebars -->
<!-- Representation of a single song -->

<header>
    <div class="navbar">
        <a href="/songs">Home</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/uploaded">Songs</a>
        <a {{#if logged_in}} href="/logout">Log Out {{else}} href="/login">Log In {{/if}} </a>
        <a {{#if logged_in}} style="display:none;" {{/if}} href="/users/new">Create an Account</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/new">Post a Song</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/users/{{logged_in_user._id}}">Profile</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/users/profile">Update Profile</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
    <script>
    $(document).ready(function(){
        let x = document.getElementById("audio_tag");
        
        x.style.display = "none";
        
        $('#play_song').on('click', function (e) {
            const song_id = $(this).data("value")
            //alert("Your values are :"+ $(this).data("value"));
            $.get("/songs/url/" + song_id.toString(), function(data, status){
                x.style.display = "block";
        
                $("#audio_id").attr("src", data._url);
            });        
        }); 
    
    });
    </script>
    <article class="song">
        <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX index.handlebars TOO -->
        <div class="song">
            <h2 class="song-title">{{song.title}} uploaded by <a href="/users/{{user._id}}">{{user.firstName}} {{user.lastName}}</a></h2> <!-- how to get author name -->
            <ul class="song-info">
                <li>Genres: {{song.genre}}</li>
                <li>Likes: {{song.like_cnt}}</li>
                <li>Dislikes: {{song.dislike_cnt}}</li>
            </ul>
            {{!-- <p>{{user}}</p> --}}
            {{#if logged_in}}
            {{!-- <p>you are entered as users</p> --}}
            <i  onclick="location.href='/songs/like/{{song._id}}'" class="fa fa-thumbs-up"></i>
            <i  onclick="location.href='/songs/dislike/{{song._id}}'" class="fa fa-thumbs-o-down"></i>
            {{else}}
            <i onclick="location.href='/login'" class="fa fa-thumbs-up" ></i>
            <i onclick="location.href='/login'" class="fa fa-thumbs-o-down"></i>
            {{/if}}

            {{!-- <audio controls src={{song._url}} type="audio/mpeg" />  --}}
            <button type="button" id="play_song" data-value="{{song._id}}" >Play</button>
            <div id="audio_tag" >
                    <audio id ="audio_id"controls src="" type="audio/mpeg" /> 
                </div>
            <button type="button" id="comment-button" onclick="location.href='../comments/new/{{song._id}}'">Add a Comment</button>
            {{#each comments}}
            <article class="comment">
                <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX single.handlebars TOO -->
                <hr>
                <p id="comment-content">"{{content}}"</p>
                <label for="comment-content" id="comment-label">from {{userId}}</label>
            </article>
            {{/each}}
            <hr>   
        </div>
    </article>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>