<!-- songs/single.handlebars -->
<!-- Representation of a single song -->

<article class="song">
    <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX index.handlebars TOO -->
    <div class="song">
        <h3 class="song-title">{{song.title}} uploaded by {{song.author}}</h3> <!-- how to get author name -->
        <ul class="song-info">
            <li>Id: {{song._id}}</li>
            <li>File: {{song.file}}</li>
            <li>Genres: {{song.genre}}</li>
            <li>Likes: {{song.like_cnt}}</li>
            <li>Dislikes: {{song.dislike_cnt}}</li>
            <li>Comments: {{song.comment_id}}</li>
        </ul>
        <button type="button" id="comment-button" onclick="location.href='../comments/new/{{song._id}}'">Add a Comment</button>
    </div>
</article>