<!-- users/index.handlebars -->
<!-- Representation of list of entire database of users -->

<section>
    {{#each users}}
    <article class="user">
        <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX single.handlebars TOO -->
        <h2>Name: {{firstName}} {{lastName}}</h2>
        <p>_id: {{_id}}, email: {{email}}, password: {{password}}</p>
        <p>gender: {{gender}}, city: {{city}}, state: {{state}}, age: {{age}}, bio: {{bio}}, interested: {{interested}}</p>
        <!-- might want to add 3 handlebars for bio depending on if we want to allow HTML in a bio? -->
    </article>
    {{/each}}
</section>