<!-- users/new.handlebars -->

<!-- For adding new user to the database -->

<header>
    <div class="navbar" >
        <a href="/songs">Home</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/uploaded">Songs</a>
        <a {{#if logged_in}} href="/logout">Log Out {{else}} href="/login">Log In {{/if}} </a>
        <a {{#if logged_in}} style="display:none;" {{/if}} href="/users/new">Create an Account</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/songs/new">Post a Song</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/users/{{user._id}}">Profile</a>
        <a {{#if logged_in}} style="display:inline;" {{else}} style="display:none;" {{/if}} href="/users/profile">Update Profile</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
  <section>
    <article class="new-user">
      <div id="msg" >
         <p>Password updated successfully</p>
      </div>
      <div id="msgFail" >
         <p>Could not update Password</p>
      </div>
      <h2>Update Profile</h2>
      <form id="new-password-form">
        <div id="user-questions">
          <div id="user-questions1" class="sub-entry">
            <div id="user-id" data-value={{user._id}} style="display: none"></div>
            <div class="input-container">
              <label for="old-password">Old Password</label>
              <input type="password" id="password-old"  name="old-password" placeholder="Old Password" class="full-width-input"/>
            </div>

            <div class="input-container">
              <label for="new-password">New Password</label>
              <input type="password" id="password-new" name="new-password" placeholder="New Password" class="full-width-input"  />
            </div>

          <div class="button-container">
            <button type="submit" class="submit">Update Password</button>
          </div>
          <br>
        </div>
      </form>
    </article>
  </section>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>