<!-- users/single.handlebars -->
<!-- Representation of a single user from our database -->

<header>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/songs">Songs</a>
        <a {{#if logged_in}}class="hidden-nav"{{/if}} href="/login">Log In</a>
        <a {{#if !logged_in}}class="hidden-nav"{{/if}} href="/logout">Log Out</a>
        <a {{#if logged_in}}class="hidden-nav"{{/if}} href="/users/new">Create an Account</a>
        <a {{#if !logged_in}}class="hidden-nav"{{/if}} href="/songs/new">Post a Song</a>
    </div>
</header>
<h1>Grapevine</h1>
<main>
    <section>
        <article class="user">
            <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX index.handlebars TOO -->
            <div class="user">
                <h3 class="user-title">{{user.firstName}}  {{user.lastName}}</h3> <!-- how to get author name -->
                <ul class="user-info">
                    <li>Id: {{user._id}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Gender: {{user.gender}}</li>
                    <li>City: {{user.city}}</li>
                    <li>State: {{user.state}}</li>
                    <li>Age: {{user.age}}</li>
                    <li>Interests: {{user.interested}}</li>
                    <li>Biography: {{user.bio}}</li>
                </ul>
            </div>
        </article>
    </section>
</main>
<footer>Created by Meghana Bhat, Kirsten Meidlinger, Ashish Negi and Paul Szenher</footer>