<!-- users/single.handlebars -->
<!-- Representation of a single user from our database -->

<article class="user">
    <!-- Needs to be reformatted, everything is shown just for testing purposes, FIX index.handlebars TOO -->
    <div class="user">
        <h3 class="user-title">{{user.firstName}}  {{user.lastName}}</h3> <!-- how to get author name -->
        <ul class="user-info">
            <li>Id: {{user._id}}</li>
            <li>Email: {{user.email}}</li>
            <li>Password: {{user.password}}</li>
            <li>Gender: {{user.gender}}</li>
            <li>City: {{user.city}}</li>
            <li>State: {{user.state}}</li>
            <li>Age: {{user.age}}</li>
            <li>Interests: {{user.interested}}</li>
            <li>Biography: {{user.bio}}</li>
        </ul>
    </div>
</article>